* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Myriad Pro', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.page {
    width: 1280px;
    margin: 0 auto;
}

/*====================HEADER STYLES=======================*/

.header-link {
    margin-top: 61px;
    margin-left: -7px;
    color: #4bcaff;
    font-size: 80px;
    font-weight: 400;
}

.header-link::before {
    content: "Ra";
    color: #000000;
}

.top-menu-wrapper {
    height: 69px;
    margin-top: 45px;
    background-color: #35444f;
    text-align: center;
}

.top-menu-item {
    display: inline-block;
    box-sizing: border-box;
    height: inherit;
    padding: 0 41px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 69px;
    transition: 0.5s ease;
}

.top-menu-item:hover {
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    background-color: #222f3a;
    cursor: pointer;
}

/*===================MIDDLE SECTION STYLES=====================*/

.body-wrapper {
    margin: 50px auto 0;
}

.body-wrapper::after {
    content: "";
    display: block;
    clear: both;
}

.left-menu-wrapper {
    display: inline-block;
}

.left-menu {
    width: 344px;
    display: inline-block;
    border: 1px solid #35444f;
    box-sizing: border-box;
}

.left-menu-item {
    padding: 0 44px;
    color: #495863;
    font-size: 25px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
    transition: 0.4s ease;
}

.left-menu-item:hover {
    padding-left: 69px;
    background-color: #dcdcdc;
    color: #050b12;
    font-weight: 500;
    cursor: pointer;
}

.content {
    float: right;
    width: 885px;
}

.image-wrapper {
    display: inline-block;
    position: relative;
    width: 885px;
    height: 529px;
    border: 1px solid #35444f;
    box-sizing: border-box;
}

.main-image {
    position: absolute;
    width: 320px;
    height: 380px;
    top: 50%;
    left: 0;
    right: 0;
    margin: -190px auto 0;
    transition: 0.7s ease;
}

.image-wrapper:hover .main-image {
    transform: scale(1.15);
}

.text {
    display: inline-block;
    margin: 30px 30px 0;
}

/*=======================FOOTER STYLES=====================*/

.footer-wrapper {
    box-sizing: border-box;
    height: 69px;
    margin: 50px auto 0;
    padding: 22px 28px 22px 34px;
    background-color: #b5b8bb;
}

.footer-menu {
    float: left;
}

.footer-menu-item {
    display: inline-block;
    padding: 0 10px;
    color: #0c1927;
    font-size: 28px;
    font-weight: 400;
    transition: 0.4s ease;
}

.footer-menu-item:hover {
    border-bottom: 1px solid #3181a6;
    color: #3181a6;
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
}

.copyright {
    float: right;
    margin-top: 3px;
    color: #010000;
    font-size: 24px;
    font-weight: 400;
}