* {
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.main-wrapper {
    width: 1366px;
    height: 768px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1064px;
    margin: 0 auto;
}

.container::after {
    display: block;
    content: "";
    clear: both;
}

/*=================================HEADER SECTION==============================*/

.header-main {
    height: 45px;
    padding: 49px 0 0;
}

.header-link-wrapper {
    display: inline-block;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

.header-link-wrapper:hover .milan-holidays-wrapper {
    color: #f26522
}

.header-link-wrapper:hover .logo-image {
    background-image: url("../img/logo-hover.png");
}

.logo-image {
    display: block;
    float: left;
    width: 46px;
    height: 44px;
    margin-right: 15px;
    background-image: url("../img/logo.png");
}

.milan-holidays-wrapper {
    display: inline-block;
    float: left;
    color: #ffffff;
    font-weight: 700;
}

.milan {
    font-size: 29px;
}

.holidays {
    font-size: 18px;
}

.email-phone-wrapper {
    display: inline-block;
    float: right;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.phone-number {
    float: right;
}

/*==============================MIDDLE SECTION===========================*/

.gallery-container {
    margin: 47px 0 0;
}

.gallery-container::after {
    display: block;
    content: "";
    clear: both;
}

.card-wrapper {
    display: block;
    float: left;
    margin: 0 64px 58px 0;
    text-align: center;
    font-size: 0;
}

.card-wrapper:nth-of-type(3n) {
    margin-right: 0;
}

.wrapper-link {
    display: inline-block;
    position: relative;
    width: 312px;
    height: 202px;
    margin-bottom: 20px;
    background: center linear-gradient(to bottom, #fff, #030303);
    transition-duration: 0.8s;
}

.wrapper-link:hover .hovering-price {
    height: 63px;
}

.wrapper-link:hover .card-subtitle {
    color: #f26522;
}

.card-img {
    display: inline-block;
    width: 308px;
    height: 200px;
    padding: 2px 2px 0;
    margin: 0 0 20px;
    box-shadow: 0px 7px 15px 1px black;
}

.hovering-price {
    position: absolute;
    bottom: 0;
    left: 2px;
    width: 308px;
    height: 0;
    overflow: hidden;
    background-color: #f26522;
    transition: .5s ease;
    text-align: left;
}

.price-euro {
    position: absolute;
    bottom: 17px;
    left: 21px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.price-euro::before {
    position: absolute;
    top: -10px;
    content: "from";
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
}

.view-details {
    position: absolute;
    bottom: 17px;
    left: 185px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.view-details::after {
    position: absolute;
    bottom: 2px;
    right: -18px;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}


.card-subtitle {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s ease;
}

/*=============================FOOTER SECTION===========================*/

.footer-wrapper {
    padding-top: 3px;
    text-align: center;
}

.footer-text {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
}