* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

.navigation-bar {
    margin-top: 32px;
    margin-bottom: 35px;
    background-color: #fff;
    text-align: center;
}

.nav-bar-link {
    margin: 32px;
    color: #16a085;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.bg-img {
    width: 100%;
}

.body-wrapper {
    background-color: #f5f6f7;
}

.text-container {
    width: 1280px;
    height: 650px;
    margin: 55px auto;
    padding-bottom: 94px;
}

.text-heading {
    color: #373737;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

.text-paragraph {
    margin: 34px 113px;
    color: #373737;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 26px;
    text-align: center;
}

.link-wrapper-div {
    margin-top: 41px;
}

.btn-link {
    display: block;
    width: 192px;
    height: 51px;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 4px;
    color: #ffffff;
    background-color: #16a085;
    font-weight: 500;
    line-height: 51px;
    text-align: center;
    cursor: pointer;
}

.footer-container {
    margin-right: 104px;
    margin-bottom: 55px;
    background-color: #ffffff;
}

.footer-text {
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: right;
}