
body {
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.body {
    background: url("../img/rana-sawalha-364253-unsplash.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-wrapper {

}

.main-wrapper::after {
    display: inline-block;
    content: "";
    clear: both;
}

.header-main {
    background-color: rgba(0, 0, 0, 0.41);
    position: relative;
}

.journey {
    display: inline-block;
    padding: 19px 0px 14px 81px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s ease;
}

.journey:hover {
    color: #3cb878;
}

.nav-icons-wrapper {
    display: inline-block;
    float: right;
    margin-right: 25px;
    padding-top: 16px;
}


.sprite {
    display: inline-block;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    margin-right: 24px;
    transition: 0.5s ease;
}

.sprite-ic-calendar {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-ic-calendar:hover {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}

.sprite-ic-forum {
    width: 28px;
    height: 20px;
    background-position: -63px -5px;
}

.sprite-ic-forum:hover {
    width: 28px;
    height: 20px;
    background-position: -101px -5px;
}

.sprite-ic-journey {
    width: 20px;
    height: 20px;
    background-position: -139px -5px;
}

.sprite-ic-journey:hover {
    width: 20px;
    height: 20px;
    background-position: -169px -5px;
}

.welcome-log-in-wrapper {
    display: inline-block;
    float: right;
    padding: 21px 75px 0 0;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.welcome-log-in-wrapper::before {
    display: inline-block;
    position: absolute;
    top: 17px;
    left: -24px;
    content: "|";
    opacity: 0.41;
    font-size: 19px;
}

.welcome-or {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.log-in-sign-up {
    display: inline-block;
    transition: 0.5s ease;
    color: #3cb878;
}

.log-in-sign-up:hover {
    text-decoration: underline;
}

.central-form {
    display: block;
    position: absolute;
    width: 444px;
    height: 584px;
    border-radius: 7px;
    top: 50%;
    left: 50%;
    transform: translate( -50%, calc(-50% + 27px));
    background-color: #ffffff;
    box-shadow: 0px 4px 18px 0px rgba( 0, 0, 0, 0.52);
}

.container {
    width: 322px;
    margin: 0 auto;
}

.signup-login-wrapper {
    margin-top: 29px;
}

.signup-login-wrapper::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: 0px;
    background-color: #3cb878;
}

.sign-up {
    display: inline-block;
    color: #434343;
    font-size: 20px;
    font-weight: 400;
}

.login-link {
    display: inline-block;
    position: relative;
    float: right;
    top: 5px;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
}

.login-link:hover {
    text-decoration: underline;
}

.google-facebook-wrapper {
    margin-top: 15px;
    box-sizing: border-box;
    color: #bbbbbb;
}

.facebook  {
    display: inline-block;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    background-color: #305db8;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 46px;
}

.facebook:hover {
    background-color: #264b96;
}

.fa-facebook-f {
    display: inline-block;
    position: relative;
    top: 3px;
    left: -16px;
    font-size: 19px;
}

.fb-word {
    display: inline-block;
    position: relative;
    top: 0;
    left: 15px;
}

.fb-word::before {
    display: inline-block;
    position: relative;
    content: "";
    width: 1px;
    height: 28px;
    top: 9px;
    left: -19px;
    background-color: rgba(0, 0, 0, 0.1);
}

.google {
    display: inline-block;
    position: relative;
    float: right;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    background-color: #df4a32;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 46px;
}

.google:hover {
    background-color: #c3412c;
}

.google-word {
    display: inline-block;
    position: relative;
    top: 0;
    left: 5px;
}

.google-word::before {
    display: inline-block;
    position: relative;
    content: "";
    width: 1px;
    height: 28px;
    top: 9px;
    left: -26px;
    background-color: rgba(0, 0, 0, 0.1);
}

.fa-google-plus-g {
    display: inline-block;
    position: relative;
    top: 5px;
    left: -23px;
    font-size: 22px;
}

.line-or-line {
    display: inline-block;
    position: relative;
    margin: 30px auto 0;
    width: 19px;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 4px), calc(-50% + 5px));
    color: #848484;
    font-size: 14px;
    font-weight: 400;
}

.line-or-line::before {
    display: inline-block;
    position: relative;
    content: "";
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
    left: -150px;
    top: 13px;
}

.line-or-line::after {
    display: inline-block;
    position: relative;
    content: "";
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
    left: 34px;
    top: -16px;
}

.input-size {
    box-sizing: border-box;
    width: 322px;
    height: 44px;
    border: 1px solid #eaeaea;
    margin-top: 13px;
    border-radius: 2px;
}

.text-field {
    padding: 17px;
    color: #bebebe;
    font-size: 14px;
    font-weight: 400;
}

.text-field:focus, .text-field:active {
    border: 1px solid #eaeaea;
    outline: 0;
    color: #434343;
    border-radius: 3px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.first-name {
    margin-top: -11px;
}

.container-label {
    display: block;
    position: relative;
    margin-top: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.terms-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    height: 19px;
    width: 19px;
    top: -2px;
    left: 0;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    background-color: #ffffff;
}

.checkmark::after {
    display: none;
    position: absolute;
    content: "";
}

.container input:checked ~ .checkmark::after {
    display: block;
}

.container .checkmark::after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #00c578;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.agree-our {
    margin-left: 30px;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
}

.terms-condtns-link {
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
}

.terms-condtns-link:hover {
    text-decoration: underline;
}

.submit-btn {
    margin-top: 28px;
    border: none;
    border-radius: 3px;
    background-color: #00c578;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.submit-btn:hover {
    background-color: #00a565;
}

.submit-btn:focus {
    outline: none;
}

.submit-btn:active {
    border-left: 1px;
    border-right: 1px;
}